body {
  font-family: "Roboto";
  background-color: #0f0e17;
  color: #fffffe;
}

.cars-container {
  margin: 100px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.car-details {
  position: relative;
  border: 1px solid #2e2f3e;
  padding: 15px;
  height: 250px;
  width: 250px;
  background-color: #1f2833;
  border-radius: 8px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.car-info {
  font-size: 23px;
  padding-bottom: 15px;
}

.plate-number {
  font-weight: bold;
}

.buttons-container {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 30px;
}

.buttons-container button {
  border: none;
  background-color: #3bba9c;
  border-radius: 5px;
  color: #fff;
  font-size: 19px;
  padding: 10px 5px;
}

.buttons-container button:hover {
  background-color: #24967a;
  cursor: pointer;
  transform: translateY(-2px) scale(1.04);
}